/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* CSS RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* colors */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);

    /* gradient colors */
    --clr-gradient-one: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
    --clr-gradient-two: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);

    /* font size */
    font-size: 16px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;

    background-color: hsl(0, 100%, 98%);
    background-image: var(--clr-gradient-one);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    height: 100vh;
    width: 100%;

    /* grid */
    display: grid;
    grid-template-areas: 
    "logo"
    "content"
    "subscription";

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
}

/* LOGO */
.logo {
    grid-area: logo;
    padding: 2rem;
}

/* HERO-IMAGE */
.hero-image img {
    grid-area: content;
    width: 100%;
}

/* MAIN */
.main {
    grid-area: subscription;
    padding: 2rem;
    text-align: center;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main__header {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.main__header h1 {
    color: var(--desaturated-red);
    font-weight: 300;
    font-size: 2.2rem;
    margin-bottom: 0.1em;
} 

.main__header h2 {
    color: var(--dark-grayish-red);
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.1em;
}

.main__content p {
    color: var(--desaturated-red);
    font-weight: 400;
    opacity: .7;
}
